@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a;
    background-image: radial-gradient(circle at top, hsl(222, 47%, 18%) 0%, hsl(222, 47%, 11%) 100%);
    color: #e2e8f0;
    margin: 0;
}