@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    @apply bg-slate-100 text-slate-900;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    margin: 0;
}

html.dark body {
    background-color: #0f172a;
    background-image: radial-gradient(circle at top, hsl(222, 47%, 18%) 0%, hsl(222, 47%, 11%) 100%);
    @apply text-slate-200;
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.4s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}